/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .exoCss {
    animation: Tourne-Au-Rond infinite 20s linear;
  }
}

.exoCss {
  background-color: #4b8b3b;
  display: flex;
  width: 10em;
  height: 10em;
  border-radius: 60%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(13, 13, 13);
}
.exoCss1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.App-link {
  color: #61dafb;
}

@keyframes Tourne-Au-Rond {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
